/* .loading-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

.loading {
    width: 16px;  
    height: 16px; 
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
   */
   .loading {
    width: 16px;  
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #0b0b0b;
    display: inline-block; 
    vertical-align: middle;
    margin-left: 6px; 
}
button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    opacity: 0.4; 
}
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
